/* elementos */


html {min-height: 100%;}

* {
	margin: 0;
	padding: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
     margin: 0;
     padding: 0;
     border: 0;
     
     font-weight: normal;
     font-style: normal;
     font-size: 100&#37;;
     font-family: inherit;
     vertical-align: baseline
}

a {color: #963;}
a:hover {color: #C60;}

body {
	background: #CCD8E0 url(img/bg.jpg) repeat-x left bottom;
	color: #444;
	font: normal 67.5% Tahoma,sans-serif;
	
}

p,code,ul {padding-bottom: 1.2em;}

li {list-style: none;}

h1 {
	font: normal 1.8em Tahoma,sans-serif;
	margin-bottom: 4px;
}

code {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #C1CAD3;
	color: #666;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

code_news {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #C1CAD3;
	color: #f60;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

blockquote {
	background: url(img/quote.gif) no-repeat;
	display: block;
	font-size:15px; 
	font-family:Arial, Helvetica, sans-serif;
	
	padding-left: 28px;
}

h1,h2,h3,h4 {padding-top: 6px;}

/* otros */
.clearer {clear: both;}

.left {float: left;}

.right {float: right;}

/* estructura */
.container {
	background: #FFF  ;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0 10px 10px;
	width: 980px;
}


/* cabeza */
.top {
	background: url(img/head_bg.gif) repeat-x;
	padding: 50px 10px 0;
}

/* titulo */
.header {
	background: #FFF;
	font-size: 1.2em;
	height: 150px;
	margin: 0 auto;
	padding: 10px 10px 5px;
	width: 980px;
}
.header .left, .header .right {
	background: #A4A4A0;
	color: #FFF;
	height: 150px;	
}
.header .left {
	background:  url(img/header.jpg) no-repeat;
	font: normal 2.8em "Trebuchet MS",sans-serif;
	line-height: 150px;
	text-align: center;	
	width: 764px;
}

.header .right {
	background: url(img/tesoreria.jpg) no-repeat;
	overflow: auto;
	width: 212px;
}






.header .right p,.header .right h2 {padding: 0 16px;}
.header .right h2 {padding-top: 16px; font: normal 1.6em "Trebuchet MS",sans-serif;}
.header .right table {padding-left: 10px; font: normal 0.9em "Trebuchet MS",sans-serif;}
/*

.header .right input {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #6699CC;
	border: #000099;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
*/

/* navegacion */
.navigation {	
	background: 
		#BDBBBB url(img/nav.gif);
	border: 1px solid #DFEEF7;
	border-color: #DFEEF7 #CFDEE7;
	height: 41px;
}
.navigation a {
	background: #D9E1E5 url(img/nav.gif);
	border-right: 1px solid #AFBEC7;
	color: #FFFFFF;
	display: block;
	float: left;
	font: bold 1.1em sans-serif;
	line-height: 41px;
	padding: 0 9px;
	text-decoration: none;
}
.navigation a:hover {background-position: left bottom; color:#EA3339;}


/* navegacion vertical*/ 

.navigation_v {	
	background: #D9E1E5 url(img/nav.gif);
	border: 1px solid #DFEEF7;
	border-color: #DFEEF7 #CFDEE7;
	width:auto;
	
	
}
.navigation_v a {
	background: #D9E1E5 url(img/nav.gif);
	border-right: 1px solid #AFBEC7;
	color: #FFFFFF;
	display: block;
	float: left;
	font: bold 1.1em sans-serif;
	line-height: 41px;
	padding: 0 9px;
	text-decoration: none;
}
.navigation_v a:hover {background-position: left bottom; color: #FFFFFF	;}



/* principal */
.main {
	border-top: 4px solid #FFF;
	
}

/* sub navegacion */
.sidenav {
	float: right;
	width: 210px;
	background: url(img/bgmain.gif) repeat-y;
}

.sidenav h2 {
	color: #5A5A43;
	font-size: 1em;
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
}
.sidenav ul {
	padding: 0;
	border-top: 1px solid #EAEADA;
}
.sidenav li {border-bottom: 1px solid #EAEADA;}
.sidenav li a {
	font-size: 1.1em;
	color: #554;
	display: block;
	padding: 8px 0 8px 5%;
	text-decoration: none;
	width: 95%;
}
.sidenav li a:hover {
	background: #F0F0EB;
	color: #654;	
}




/* sub navegacion */
.sidenav_p {
	float: right;
	width: 180px;
}
.sidenav_p h2 {
	color: #5A5A43;
	font-size: 1em;
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
}
.sidenav_p ul {
	padding: 0;
	border-top: 1px solid #EAEADA;
}
.sidenav_p li {border-bottom: 1px solid #EAEADA;}
.sidenav_p li a {
	font-size: 1.1em;
	color: #554;
	display: block;
	padding: 8px 0 8px 5%;
	text-decoration: none;
	width: 95%;
}
.sidenav_p li a:hover {
	background: #F0F0EB;
	color: #654;	
}

/* sub navegacion_des */
.sidenav_m {
	float: right;
	width: 180px;
}
.sidenav_m h2 {
	color: #FFCB97;
	font-size: 1em;
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
}
.sidenav_m ul {
	padding: 0;
	border-top: 1px solid #FFCB97;
}
.sidenav_m li {border-bottom: 1px solid #FFCB97; background:#FFCB97 }

.sidenav_op {
	float: right;
	width: 180px;
}
.sidenav_op h2 {
	color: #CCFFFF;
	font-size: 1em;
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
}
.sidenav_op ul {
	padding: 0;
	border-top: 1px solid #CCFFFF;
}
.sidenav_op li {border-bottom: 1px solid #CCFFFF; background:#CCFFFF }


.sidenav_e {
	float: right;
	width: 180px;
}
.sidenav_e h2 {
	color: #FFFF99;
	font-size: 1em;
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
}
.sidenav_e ul {
	padding: 0;
	border-top: 1px solid #FFFF99;
}
.sidenav_e li {border-bottom: 1px solid #FFFF99; background:#FFFF99 }

/* contenido */
.content {
	float: left;
	margin: 10px 0;
	padding: 0 16px;
	width: 700px;
}
.content .descr {
	color: #FFFF99;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.content li {
	list-style: url(img/li.gif);
	margin-left: 18px;
}
.content p {font-family: "Lucida Sans Unicode",sans-serif;}

.content table {font-family: "Lucida Sans Unicode",sans-serif; font-size: 1.0em;}



.content table h4 {font-family: "Lucida Sans Unicode",sans-serif; font-size: 1.0em; font-weight: bold;}



.content_v {
	float: left;
	margin: 10px 0;
	padding: 0 16px;
	width: 700px;
}
.content_v .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.content_v li {
	margin-left: 18px;
}
.content_v p {font-family: "Lucida Sans Unicode",sans-serif;}




/* pie */
.footer {
	background: url(img/bgfooter.gif) repeat-x;
	color:#FFFFFF  ;
	font: bold 1em sans-serif;
	line-height: 39px;
	text-align: center;
}
.footer a,.footer a:hover {color: #FFF; text-decoration: none;}

.fuframe {	font: normal 80% Tahoma,sans-serif;}
.fuframe1 {	font: normal 90% Tahoma,sans-serif;}
.fuframe2 {	font: normal 70% Tahoma,sans-serif;}

.fuframebb { color: #0080C0; 
	 }
.taframe {	font: normal 80% Tahoma,sans-serif;}

#aprobar{
	
	width:526px;
	height:345px;
	padding:5px;
	margin:15px;
	border:1px solid #000;
	
	
}	
#aprobar_p{
	
	width:526px;
	height:345px;
	padding:5px;
	margin:15px;
	border:1px solid #000;
	
	
}	


.sidenav_ba {
	float: right;
	width: 180px;
}
.sidenav_ba h2 {
	color: #B9DDDD;
	font-size: 1em;
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
}
.sidenav_ba ul {
	padding: 0;
	border-top: 1px solid #B9DDDD;
}

.sidenav_ba li {border-bottom: 1px solid #FFFF99; background:#B9DDDD }
.info{height: 180px;width: 360px;background-color: white;border-radius: 10px;margin-top: 20px; padding:5px;
	margin:15px; }


#Registro{width: 460px;height:250px;background-color: white;border-radius:10px;margin-top: 20px; margin-bottom:20px; margin: 10; margin-left:20px}
#Registro1{width: 260px;height:150px;background-color: white;border-radius:10px;margin-top: 20px; margin-bottom:20px; margin: 10;}
#Registro img{width:150px; float: left;border-radius: 10px 0px 0px 10px;height: 250px;}
#Registro1 img{width:80; float: left;border-radius: 10px 0px 0px 10px;height: 250px;}
#Registro input{width:160px;border:1px solid #e5e5e5;display: block;margin-top: 7px;}
#Registro form{width:800px;margin-left:150px;padding: 60px;}
#Registro form a{text-decoration: none;color: grey;font-size: 14px;}
#buttom{background-color: #00a1e1;border: 1px solid #00a1e1;color: white;height: 40px;border-radius: 2px;margin-bottom: 8px;}
#footer, h4{width: 960px;height: 50px;margin-top: 15px;text-align: center;}
p{
  font-family: "Homer Simpson", cursive;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 17px;
    color: #ffffff;
    background-color: #EA3339;
    border-radius: 6px;
    border: 2px solid #0016b0;
	
  }
  .boton_personalizado:hover{
    color: #EA3339;
    background-color: #ffffff;
  }
  